$cor-primaria: #071a5c;
$cor-primaria-botao: #06236e;
$cor-primaria-botao-hover: #172B84;
$cor-primaria-texto-destaque: #0E58B8;
$cor-foco-formulario: #0d6efd;
$cor-fundo-branco: #ffffff;
$cor-texto-titulo: #222222;
$cor-texto-subtitulo: #333333;
$cor-texto-rotulo: #555555;
$cor-texto-auxiliar: #777777;
$cor-texto-desativado: #888888;
$cor-texto-placeholder: #6e6e6e;
$cor-obrigatorio: #ad0000;
$cor-borda-principal: #dddddd;
$cor-borda-secundaria: #e5e5e5;
$cor-borda-card: #bbbbbb;
$cor-fundo-cabecalho-tabela: #F3F4F6;
$cor-fundo-botao-cancelar: #e5e5e5;
$cor-fundo-botao-cancelar-hover: #d8d8d8;
$cor-sobreposicao-escuro: rgba(0, 0, 0, 0.4);
$cor-sucesso-submeter: #0d6828;
$cor-sucesso-submeter-hover: #084c19;

:root{
    --cor-branco:#f8f8f8;
    --fonte-padrao1: "Inter", sans-serif;
    --cor-detalhe-azul: #152778;
    --cor-texto-cabecalho: #0E58B8;
    --cor-texto-azul: #000080;
    --cor-cinza-claro: #F3F3F3;
    --altura-header: 80px;
    --altura-info-bar: 132.75px;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--cor-branco);
}

a {
    text-decoration: none;
}
