:root{
    --cor-branco:#f8f8f8;
    --fonte-padrao1: "Inter", sans-serif;
    --cor-detalhe-azul: #152778;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--cor-branco);
}

a {
    text-decoration: none;
}