<footer class="rodape">

  <div class="rodape-conteudo">


    <div class="identificacao">

      <img
        src="/pe_logo_1.png"
        alt="Planejamento Estratégico"
        class="logo-planejamento"
      >

    </div>

    <div class="coluna">

      <h3>A UFAC</h3>

      <ul>
        <li><a href="#">Reitoria</a></li>

        <li>
          <a href="#">
            Pró-Reitoria de Planejamento
          </a>
        </li>

        <li>
          <a href="#">
            Pró-Reitoria de Administração
          </a>
        </li>

        <li>
          <a href="#">
            Pró-Reitoria de Desenvolvimento e Gestão de Pessoas
          </a>
        </li>

        <li>
          <a href="#">
            Pró-Reitoria de Graduação
          </a>
        </li>

        <li>
          <a href="#">
            Pró-Reitoria de Pesquisa e Pós-Graduação
          </a>
        </li>

        <li>
          <a href="#">
            Pró-Reitoria de Extensão e Cultura
          </a>
        </li>

        <li>
          <a href="#">
            Pró-Reitoria de Assuntos Estudantis
          </a>
        </li>
      </ul>

    </div>


    <div class="coluna">

      <h3> SITES GOVERNAMENTAIS </h3>

      <ul>

        <li>
          <a href="#">
            Gov.br
          </a>
        </li>

        <li>
          <a href="#">
            Ministério da Educação
          </a>
        </li>

        <li>
          <a href="#">
            Ministério da Ciência, Tecnologia e Inovação
          </a>
        </li>

        <li>
          <a href="#">
            Ministério do Planejamento e Orçamento
          </a>
        </li>

        <li>
          <a href="#">
            Ministério da Gestão e da Inovação em Serviços Públicos
          </a>
        </li>

        <li>
          <a href="#">
            Órgãos do Governo
          </a>
        </li>

      </ul>

    </div>



    <div class="coluna">

      <h3>LINKS ÚTEIS</h3>

      <ul>

        <li>
          <a href="#">
            Acesso à Informação
          </a>
        </li>

        <li>
          <a href="#">
            Painéis Estratégicos
          </a>
        </li>

        <li>
          <a href="#">
            Documentos Institucionais
          </a>
        </li>

        <li>
          <a href="#">
            Cadastro e-MEC
          </a>
        </li>

        <li>
          <a href="#">
            Estratégia Federal de Desenvolvimento
          </a>
        </li>

        <li>
          <a href="#">
            Objetivos de Desenvolvimento Sustentável
          </a>
        </li>

      </ul>

    </div>


    <div class="coluna">

      <h3>CONTATOS</h3>

      <ul>

        <li>
          <a href="#">
            Lista de Telefones
          </a>
        </li>

        <li>
          <a href="#">
            Serviço de Informação ao Cidadão
          </a>
        </li>

        <li>
          <a href="#">
            Ouvidoria
          </a>
        </li>

      </ul>

    </div>

  </div>


  <div class="rodape-inferior">

    <!-- Redes sociais -->
    <div class="redes-sociais">

      <h3>REDES SOCIAIS</h3>

      <div class="icones-sociais">

        <!-- Instagram -->
        <a
          href="#"
          aria-label="Instagram"
          class="icone-social"
        >
          <svg
            viewBox="0 0 24 24"
            aria-hidden="true"
          >
            <rect
              x="3"
              y="3"
              width="18"
              height="18"
              rx="5"
            ></rect>

            <circle
              cx="12"
              cy="12"
              r="4"
            ></circle>

            <circle
              cx="17.5"
              cy="6.5"
              r="1"
              class="ponto"
            ></circle>
          </svg>
        </a>


        <!-- YouTube -->
        <a
          href="#"
          aria-label="YouTube"
          class="icone-social youtube"
        >
          <svg
            viewBox="0 0 24 24"
            aria-hidden="true"
          >
            <path
              d="M21.5 7.2a2.8 2.8 0 0 0-2-2
              C17.8 4.7 12 4.7 12 4.7s-5.8 0-7.5.5
              a2.8 2.8 0 0 0-2 2A29 29 0 0 0 2 12
              a29 29 0 0 0 .5 4.8 2.8 2.8 0 0 0 2 2
              c1.7.5 7.5.5 7.5.5s5.8 0 7.5-.5
              a2.8 2.8 0 0 0 2-2A29 29 0 0 0 22 12
              a29 29 0 0 0-.5-4.8Z"
            ></path>

            <polygon
              points="10,9 16,12 10,15"
              class="play"
            ></polygon>
          </svg>
        </a>

      </div>

    </div>


    <!-- Logo UFAC -->
    <div class="logo-ufac">

      <img
        src="/logo-ufac.png"
        alt="Universidade Federal do Acre"
      >

    </div>

  </div>
  
  <div class="copyright">

    © Universidade Federal do Acre - Todos os direitos reservados.

  </div>

</footer>