@use '../../../../styles.scss' as *;
// ======================================================
// HEADER
// ======================================================
:host {
  display: block;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1000; // maior que o z-index do banner (que vai até 4)
}


.cabecalho {
    height: var(--altura-header);
  
    background-color: #ffffff;
  
    border-bottom: 1px solid #dddddd;
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  
    font-family: "Open Sans", Arial, sans-serif;
  
    display: flex;
    flex-direction: column;
    padding: 0px 130px;
    
  }
  
  
  // ======================================================
  // PRIMEIRA LINHA
  // ======================================================
  
  .linha-superior { 
    width: 100%;

    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .identificacao {
    display: flex;
    align-items: center;
  
    height: 100%;
    &:hover{
      cursor: pointer;
    }
  }
  
  .logo {
    width: 36px;
    height: auto;
  
    object-fit: contain;
  }
  
  .divisor {
    width: 1px;
    height: 28px;
  
    margin: 0 18px;
  
    background-color: #d3d3d3;
  }
  
  .universidade {
    color: $cor-azul-padrao;
  
    font-size: 15px;
    font-weight: 400; 
  
    letter-spacing: 0.4px;
  
    white-space: nowrap;
  }
  

  .links-topo {
    display: flex;
    align-items: center;
  
    gap: 16px;
  
    a {
      box-sizing: border-box;
      color: $cor-azul-padrao;
      padding: 5px;
  
      text-decoration: none;
  
      font-size: 15px;
      font-weight: 400;
  
      white-space: nowrap;
  
      transition: color 0.2s ease;
  
      &:hover {

        border-radius: 20px;
        background-color: $cor-hover-padrao;
        color: #003d91;
        transition: background-color 0.3s ease;
      }
    }
  }
  
  
  .divisor-links {
    height: 32px;
  
    margin: 0 2px 0 0;
  }
  
  
  .botao-icone,
  .botao-contraste {
  
    padding: 0;
  
    border: none;
    background: transparent;
  
    color: $cor-azul-padrao;
  
    cursor: pointer;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 18px;
  
    transition: transform 0.2s ease;
  
    &:hover {
      transform: scale(1.1);
      background-color: $cor-hover-padrao;
      border-radius: 100%;
    }
  }
  
