<header class="cabecalho">

    <!-- =====================================================
         PRIMEIRA LINHA
         ===================================================== -->
    <div class="linha-superior">
  
      <div class="identificacao">
        <a routerLink="/pagina-inicial">
            <img
              src="/pe1.png"
              alt="Logo PE"
              class="logo"

              
            />
  
        </a >
        <div class="divisor"></div>
  
        <span class="universidade">
          UNIVERSIDADE FEDERAL DO ACRE
        </span>
  
      </div>
  
  
      <nav class="links-topo">
  
        <a href="https://www.ufac.br/" target="_blank" rel="noopener noreferrer">Site Institucional</a>
        <a href="https://portaldatransparencia.gov.br/" target="_blank" rel="noopener noreferrer">Portal da Transparência</a>
        <a href="https://www.gov.br/acessoainformacao/pt-br" target="_blank" rel="noopener noreferrer">Acesso à Informação</a>
        <a href="https://falabr.cgu.gov.br/v2/" target="_blank" rel="noopener noreferrer">Fala.BR</a>
  
        <div class="divisor divisor-links"></div>
  
  
        <button
          type="button"
          aria-label="Contraste"
          class="botao-contraste"
        >
            <svg width="26" height="26" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">

            <path
              d="M12 5a7 7 0 0 0 0 14 7 7 0 0 0 0-14zm0 1.5v11a5.5 5.5 0 0 1 0-11z"
              fill="#0754c7"
            />
          </svg>
        </button>
  
      </nav>
  
    </div>
  
  

  
  </header>