    <header class="header_principal">
       <div class="header_infos">
            <a href="" class="header__logo">
                <img src="pe_logo_1.png" alt="Logo Portal PE">
            </a>
            <span class="header_tag">ÁREA RESTRITA</span>
        </div>
 
        <div class="header_usuario">       
            <button type="button" class="perfil_usuario">
                <img src="user.png" alt="" class="perfil_usuario_avatar">
                <div class="perfil_usuario_infos">
                    <span class="nome_usuario">Andrey da Cunha Marques</span>
                    <span class="unidade_usuario">Servidor / PROGRAD</span>
                </div>
                <svg
                    class="perfil_usuario_seta"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">

                    <path
                        d="M6 9L12 15L18 9"
                        stroke="#9A9A9A"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </header>