<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME DO SERVIDOR</title>
    <link rel="stylesheet" href="home.scss">
</head>
<body>
    <header>
        <span class="logotipo">Logo</span>
        <div><p>Area restrita</p></div>
        <nav>
            <div class="usuário"></div>
        </nav> 
    </header>
    <div class="barra_informativa">
        <div class="painel_unidade">
            <p>UNIDADE RESPONSÁVEL</p>
            <h3>PROGRAD</h3>
            <p>Pró-Reitoria de Graduação</p>
        </div>
        <div class="painel_contagem"></div>
    </div>

</body>
</html>