.objetivos-area{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    .objetivos-cards{  
        padding: 5px;
        text-align: center;
        display: inline-block;
        width: 175px;
        border: solid 1px #e0e0e0;
        border-radius: 10px; 
        display: grid;
        grid-template-columns: auto auto ;
        input{
            border: 1px solid #7F7F7F;
            width: 20px;
        }
        .codigoobj{
            font-size: 16px;
        }
        .nomeobj{
            font-size: 11px;
        }
    }
}