<button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">abrir formulario</button>

<div class=" modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class=" modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="formulario-iniciativas">

        <!-- CABEÇALHO -->
        <div class="cabecalho-formulario">
          <div>
            <h1>RELATÓRIO DE MONITORAMENTO DAS INICIATIVAS ESTRATÉGICAS</h1>
            <p>Insira as informações técnicas para o preenchimento oficial do PDI</p>
          </div>
        </div>
        <!-- ETAPAS DO FORMULÁRIO -->
        <div class="etapas-formulario">
          <div class="etapa-formulario etapa-atual" >
            <span>1. Apresentação</span>
          </div>

          <div class="etapa-formulario">
            <span>2. Ações e Evolução</span>
          </div>

          <div class="etapa-formulario">
            <span>3. Observações</span>
          </div>
        </div>

        <!-- PRIMEIRA ETAPA -->
        <form>
          <div class="conteudo-formulario">
            <!-- TÍTULO DA SEÇÃO -->
            <div class="titulo-secao">
              <h2>Passo 1: Identificação Geral &amp; Objetivos</h2>
              <p>
                Informe os dados básicos da iniciativa
              </p>
              <hr>
            </div>
            <!-- TÍTULO DA INICIATIVA -->
            <div class="campo-formulario campo-titulo-iniciativa">
              <label for="tituloIniciativa">
                TÍTULO DA INICIATIVA
                <span class="campo-obrigatorio">*</span>
              </label>

              <input id="tituloIniciativa" type="text" class="form-control" placeholder="Insira o título aqui">
            </div>

            <!-- RESPONSÁVEL E UNIDADE -->
            <div class="linha-informacoes">
              <!-- RESPONSÁVEL -->
              <div class="campo-formulario campo-responsavel">
                <label for="responsavelPreenchimento">
                  RESPONSÁVEL PELO PREENCHIMENTO
                  <span class="campo-obrigatorio">*</span>
                </label>

                <input id="responsavelPreenchimento" type="text" class="form-control"  placeholder="NOME COMPLETO " >
              </div>

              <!-- UNIDADE -->
              <div class="campo-formulario campo-unidade">
                <label for="unidadeResponsavel">
                  UNIDADE RESPONSÁVEL
                </label>

                <input id="unidadeResponsavel" type="text" class="form-control"  placeholder="UNIDADE RESPONSÁVEL" >
              </div>

            </div>
            <!-- OBJETIVOS ESTRATÉGICOS -->
            <section class="secao-objetivos">
              
              <div class="titulo-objetivos">
                <h2>Objetivos Estratégicos</h2>
                <p>
                  Selecione quais objetivos institucionais a iniciativa atende
                </p>
              </div>
              <hr>
              <!-- LISTA DE OBJETIVOS -->
              <div class="objetivos-area ">
              <label class="objetivos-cards">
                <input class="form-check-input rounded-circle" type="checkbox" name="OE1" id="">
                <span class="codigoobj"><strong>OE1</strong></span><br>
                <span class="nomeobj">Ampliar o numero de profissionais formados e qualificados</span>
              </label>
              <label class="objetivos-cards ">
                <input class="form-check-input rounded-circle" type="checkbox" name="OE1" id="">
                <span class="codigoobj"><strong>OE1</strong></span><br>
                <span class="nomeobj">Ampliar o numero de profissionais formados e qualificados</span>
              </label>
              <label class="objetivos-cards">
                <input class="form-check-input rounded-circle" type="checkbox" name="OE1" id="">
                <span class="codigoobj"><strong>OE1</strong></span><br>
                <span class="nomeobj">Ampliar o numero de profissionais formados e qualificados</span>
              </label>
              <label class="objetivos-cards">
                <input class="form-check-input rounded-circle" type="checkbox" name="OE1" id="">
                <span class="codigoobj"><strong>OE1</strong></span><br>
                <span class="nomeobj">Ampliar o numero de profissionais formados e qualificados</span>
              </label>
            </div>
            </section>

            <hr>
          </div>
          <!-- RODAPÉ -->
          <div class="rodape-formulario">
            <p class="texto-orientacao"> * Navegue de forma segura usando os botões ao lado</p>

            <div class="botoes-navegacao">

              <button type="button" class="btn botao-anterior" (click)="voltar()" [disabled]="etapaAtual === 1">
                <i class="bi bi-chevron-left"></i> Anterior
              </button>

              <button type="button" class="btn botao-proximo" (click)="avancar()">
                Próximo <i class="bi bi-chevron-right"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



