    <section class="info-bar">
        <div class="info-bar_unidade">
            <span class="info-bar_subtitulo">UNIDADE RESPONSÁVEL</span>
            <h1 class="info-bar_titulo">PROGRAD</h1>
            <p class="info-bar_descricao">Pró-Reitoria de Graduação</p>
        </div>

        <div class="info-bar_contagem">
            <div class="card-contagem">
                <span class="card-contagem_valor">2</span>
                <span class="card-contagem_label">PROJETOS</span>
            </div>
            <div class="divisor_contagem"></div>    
            <div class="card-contagem">
                <span class="card-contagem_valor">1</span>
                <span class="card-contagem_label">INDICADORES</span>
            </div>
            <div class="divisor_contagem"></div>    
            <div class="card-contagem">
                <span class="card-contagem_valor">0</span>
                <span class="card-contagem_label">INICIATIVAS</span>
            </div>
        </div>
    </section>
    