<app-header-publico></app-header-publico>
<div class="pagina">



  <main class="conteudo-principal">


  <nav class="breadcrumb" aria-label="Navegação">

    <a routerLink="/pagina-inicial">
      <i class="bi bi-house-door-fill"></i>
    </a>

    <span>›</span>

    <span>Plano de Desenvolvimento Institucional</span>

  </nav>


  <!-- =====================================================
       TÍTULO
       ===================================================== -->

  <section class="titulo-pagina">

    <h1>
      Plano de Desenvolvimento Institucional
    </h1>

  </section>


  <!-- =====================================================
       ÁREA PRINCIPAL
       ===================================================== -->

  <section class="area-pdi">


    <!-- =================================================
         MENU LATERAL
         ================================================= -->

    <aside class="menu-pdi">

      <button
        class="menu-pdi-item ativo">

        Apresentação

      </button>


      <button
        class="menu-pdi-item">

        Plano de Desenvolvimento Institucional 2025-2029

      </button>

    </aside>


    <!-- =================================================
         CONTEÚDO
         ================================================= -->

    <section class="pdi-conteudo">


      <!-- TÍTULO -->

      <h2>
        O que é o PDI?
      </h2>


      <!-- TEXTO INICIAL -->

      <div class="texto-pdi">

        <p>
          O Plano de Desenvolvimento Institucional (PDI) 2025-2029 da Universidade Federal do Acre (Ufac), elaborado conforme o Decreto nº 9.235,
          de 15 de dezembro de 2017, constitui-se em um documento credenciador da instituição junto ao Ministério da Educação. No contexto da
          política nacional de educação superior, exprime o atual estágio da Ufac, assim como, sua organização, filosofia de trabalho e diretrizes acadêmicas que orientarão as ações para o horizonte dos próximos cinco anos.
        </p>

        <p>
          Alinha-se o PDI 2025-2029 ao novo documento de Planejamento e Gestão Estratégica (PGE) 2024-2033, elaborado de forma participativa
          no período de abril de 2023 a março de 2024, para definição da missão, visão, valores, objetivos e modelo de gestão da universidade, a ser
          seguida por seus gestores e colaboradores no horizonte de 10 anos, visando a melhoria da qualidade, eficiência e efetividade dos serviços
          prestados à sociedade, medindo-se por indicadores sua atuação.
        </p>

      </div>

      <img>


      <div class="texto-pdi texto-final">

        <p>
          No PDI 2025-2029, será utilizado o conceito de iniciativas estratégicas, em que foram definidas pelas unidades iniciativas vinculadas aos objetivos estratégicos do PGE 2024-2033. As iniciativas propostas representam programas, projetos ou ações que visam contribuir para o alcance
          dos objetivos e, com isso, o desempenho passa a ser medido por meio dos indicadores estratégicos definidos no novo PGE. O detalhamento
          das iniciativas consolidadas e vinculadas às unidades pode ser acessado clicando aqui: Iniciativas Estratégicas PDI 2025-2029.
        </p>

        <p>
          A metodologia foi delineada visando obter maior alinhamento entre o PDI 2025-2029 e o PGE 2024-2033, contribuindo para o aprimoramento da governança institucional e resultando em maior eficiência na entrega de resultados para a sociedade.
        </p>

      </div>


    </section>

  </section>

 </main>
  <app-rodape></app-rodape>
</div>

