<div class="pagina">

  <!-- ================= HEADER ================= -->
  <header class="cabecalho">

    <div class="logo-area">
      <img
        src="/pe_logo_1.png"
        alt="Logo"
        class="logo"
      />
    </div>

    <nav class="links-topo">

      <a href="#">Site institucional</a>
      <span>|</span>

      <a href="#">Portal da Transparência</a>
      <span>|</span>

      <a href="#">Acesso à Informação</a>
      <span>|</span>

      <a href="#">Fala.BR</a>
      <span>|</span>

      <button type="button" aria-label="Acessibilidade">
        ◐
      </button>

      <button type="button" aria-label="Contraste">
        ◐
      </button>

    </nav>

  </header>


  <!-- ================= BANNER ================= -->
 <section class="banner">

  <!-- Imagem de fundo -->
  <img
    src="/fundo.jfif"
    alt=""
    class="banner-imagem"
  />

  <!-- Camadas de degradê -->
  <div class="banner-overlay"></div>

  <!-- Conteúdo -->
  <div class="banner-conteudo">

    <!-- LADO ESQUERDO -->
    <div class="banner-esquerda">

      <h1>
        Planejamento e<br />
        Desenvolvimento<br />
        2024-2033
      </h1>



    </div>

    <!-- LINHA DIVISÓRIA -->
    <div class="banner-divisor"></div>

    <!-- LADO DIREITO -->
    <div class="banner-direita">

      <div class="descricao">

        <p>
          Etiam accumsan urna a mauris dapibus, nec aliquet nunc convallis.
          Phasellus eget justo et libero ultrices posuere. Cras euismod, arcu
          nec congue convallis, ipsum nunc cursus nibh, vel condimentum sapien
          orci non libero. Integer ullamcorper felis sit amet felis placerat,
          eu convallis lorem iaculis.
        </p>

        <p>
          Aliquam erat volutpat. Nullam scelerisque auctor libero, id volutpat
          est dignissim vitae. Aliquam erat volutpat. Integer laoreet, nisi a
          tincidunt tincidunt, odio nisl commodo libero, id ultricies sapien
          purus non odio. Phasellus ac ultricies ex, vel scelerisque libero.
        </p>

      </div>



    </div>
    <div class="botoes">     
         <button class="botao-unidades"
              routerLink="/painel-unidades">
        Unidade envolvidas
      </button>
    
             <button class="botao-projetos">
        Visualizar Projetos
        <span>→</span>
      </button>
    </div>

  </div>


  <!-- DETALHE DA UFAC -->
  <div class="marca-ufac">

    <div class="simbolo-ufac">
      <div></div>
      <div></div>
    </div>

        <img
          src="ufac.png"
          alt="ufac"
          class="logo-ufac"
        />

  </div>

</section>

  <!-- ================= CARDS ================= -->
  <main class="conteudo">

    <section class="cards">

      <!-- PLANEJAMENTO -->
      <article class="card card-planejamento">

        <h2>
          Planejamento<br />
          Estratégico
        </h2>

        <img
          src="assets/images/logo-pe-card.png"
          alt="Planejamento Estratégico"
          class="imagem-pe"
        />

        <button class="botao-card" routerLink="/pagina-pe">
          <span>Sobre o PE</span>
          <strong>›</strong>
        </button>

      </article>


      <!-- PDI -->
      <article class="card card-pdi" >

        <h2>
          Plano de<br />
          Desenvolvimento<br />
          Institucional
        </h2>

        <img
          src="assets/images/logo-pdi.png"
          alt="Plano de Desenvolvimento Institucional"
          class="imagem-pdi"
        />

        <button class="botao-card" routerLink="/pagina-pdi">
          <span>Sobre o PDI</span>
          <strong>›</strong>
        </button>

      </article>

    </section>

  </main>


  <!-- ================= FOOTER ================= -->
  <footer class="rodape">

    <div class="rodape-conteudo">

      <!-- Logo -->
      <div class="rodape-logo">

        <img
          src="assets/images/logo-planejamento-footer.png"
          alt="Planejamento Estratégico"
        />

        <div class="redes-sociais">

          <h3>REDES SOCIAIS</h3>

          <div class="icones">

            <a href="#">
              <i class="bi bi-instagram"></i>
            </a>

            <a href="#">
              <i class="bi bi-youtube"></i>
            </a>

          </div>

        </div>

      </div>


      <!-- Planejamento -->
      <div class="rodape-coluna">

        <h3>PLANEJAMENTO</h3>

        <a href="#">PE</a>
        <a href="#">PDI</a>
        <a href="#">Indicadores</a>
        <a href="#">Projetos</a>
        <a href="#">Planejamento Estratégico</a>

      </div>


      <!-- Sites governamentais -->
      <div class="rodape-coluna">

        <h3>SITES GOVERNAMENTAIS</h3>

        <a href="#">Governo</a>
        <a href="#">Ministério da Educação</a>
        <a href="#">Ministério da Ciência, Tecnologia e Inovação</a>
        <a href="#">Ministério do Planejamento</a>
        <a href="#">Ministério do Desenvolvimento</a>
        <a href="#">Órgãos do Governo</a>

      </div>


      <!-- Links -->
      <div class="rodape-coluna">

        <h3>LINKS ÚTEIS</h3>

        <a href="#">Acesso à Informação</a>
        <a href="#">Painel Estratégico</a>
        <a href="#">Documentos Institucionais</a>
        <a href="#">Contato</a>
        <a href="#">Estratégia Federal de Desenvolvimento</a>
        <a href="#">Objetivos de Desenvolvimento Sustentável</a>

      </div>


      <!-- Contatos -->
      <div class="rodape-coluna">

        <h3>CONTATOS</h3>

        <a href="#">Lista de Telefones</a>
        <a href="#">Serviço de Informação ao Cidadão</a>
        <a href="#">Ouvidoria</a>

      </div>

    </div>


    <div class="rodape-bottom">

      <span>
        © Universidade Federal do Acre - Todos os direitos reservados.
      </span>

      <div class="ufac">
        UfA<span>c</span>
      </div>

    </div>

  </footer>

</div>