<app-header-publico></app-header-publico>

  <!-- ================= BANNER ================= -->
 <section class="banner">

  <!-- Imagem de fundo -->
  <img
    src="/fundo.jfif"
    alt=""
    class="banner-imagem"
  />

  <!-- Camadas de degradê -->
  <div class="banner-overlay"></div>

  <!-- Conteúdo -->
  <div class="banner-conteudo">

    <!-- LADO ESQUERDO -->
    <div class="banner-esquerda">

      <h1>
        Planejamento e<br />
        Desenvolvimento<br />
        2024-2033
      </h1>



    </div>

    <!-- LINHA DIVISÓRIA -->
    <div class="banner-divisor"></div>

    <!-- LADO DIREITO -->
    <div class="banner-direita">

      <div class="descricao">

        <p>
          Etiam accumsan urna a mauris dapibus, nec aliquet nunc convallis.
          Phasellus eget justo et libero ultrices posuere. Cras euismod, arcu
          nec congue convallis, ipsum nunc cursus nibh, vel condimentum sapien
          orci non libero. Integer ullamcorper felis sit amet felis placerat,
          eu convallis lorem iaculis.
        </p>

        <p>
          Aliquam erat volutpat. Nullam scelerisque auctor libero, id volutpat
          est dignissim vitae. Aliquam erat volutpat. Integer laoreet, nisi a
          tincidunt tincidunt, odio nisl commodo libero, id ultricies sapien
          purus non odio. Phasellus ac ultricies ex, vel scelerisque libero.
        </p>

      </div>



    </div>
    <div class="botoes">
         <button class="botao-unidades"
              routerLink="/painel-unidades">
        Unidades envolvidas
      </button>

             <button class="botao-projetos"
              routerLink="/acoes-estrategicas">
        Acompanhar Execuções
        <span>→</span>
      </button>
    </div>

  </div>


  <!-- DETALHE DA UFAC -->
  <div class="marca-ufac">

    <div class="simbolo-ufac">
      <div></div>
      <div></div>
    </div>

        <img
          src="ufac.png"
          alt="ufac"
          class="logo-ufac"
        />

  </div>

</section>

  <!-- ================= CARDS ================= -->
  <main class="conteudo">

    <section class="cards">

      <!-- PLANEJAMENTO -->
      <article class="card card-planejamento">

        <h2>
          Planejamento<br />
          Estratégico
        </h2>

        <img
          src="assets/images/logo-pe-card.png"
          alt="Planejamento Estratégico"
          class="imagem-pe"
        />

        <button class="botao-card" routerLink="/pagina-pe">
          <span>Sobre o PE</span>
          <strong>›</strong>
        </button>

      </article>


      <!-- PDI -->
      <article class="card card-pdi" >

        <h2>
          Plano de<br />
          Desenvolvimento<br />
          Institucional
        </h2>

        <img
          src="assets/images/logo-pdi.png"
          alt="Plano de Desenvolvimento Institucional"
          class="imagem-pdi"
        />

        <button class="botao-card" routerLink="/pagina-pdi">
          <span>Sobre o PDI</span>
          <strong>›</strong>
        </button>

      </article>

    </section>

  </main>

<app-rodape></app-rodape>

