<app-header-publico></app-header-publico>

  <!-- ================= BANNER ================= -->
 <section class="banner">

  <!-- Imagem de fundo -->
  <img
    src="/fundo.jfif"
    alt=""
    class="banner-imagem"
  />

  <!-- Camadas de degradê -->
  <div class="banner-overlay"></div>

  <!-- Conteúdo -->
  <div class="banner-conteudo">

    <!-- LADO ESQUERDO -->
    <div class="banner-esquerda">

      <h1>
        Planejamento e<br />
        Desenvolvimento<br />
        2024-2033
      </h1>



    </div>

    <!-- LINHA DIVISÓRIA -->
    <div class="banner-divisor"></div>

    <!-- LADO DIREITO -->
    <div class="banner-direita">

      <div class="descricao">

        <p>
         O Planejamento e Desenvolvimento 2024–2033 da Universidade Federal do Acre (UFAC)
         estabelece diretrizes para orientar o crescimento e o fortalecimento institucional 
         ao longo da próxima década. Integrando o Planejamento Estratégico (PE) e o Plano de 
         Desenvolvimento Institucional (PDI), a iniciativa busca alinhar objetivos, ações e 
         resultados às necessidades da comunidade acadêmica e da sociedade.
        </p>

        <p>
          Por meio de uma visão integrada, o planejamento promove a definição de prioridades e
          o acompanhamento das metas institucionais. O PE direciona as ações estratégicas da 
          Universidade, enquanto o PDI consolida os compromissos e as perspectivas de desenvolvimento
          institucional.
        </p>

      </div>



    </div>
    <div class="botoes">
         <button class="botao-unidades"
              routerLink="/painel-unidades">
        Unidades envolvidas
      </button>

             <button class="botao-projetos"
              routerLink="/acoes-estrategicas">
        Acompanhar Execuções
        <span>→</span>
      </button>
    </div>

  </div>


  <!-- DETALHE DA UFAC
  <div class="marca-ufac">

    <div class="simbolo-ufac">
      <div></div>
      <div></div>
    </div>

        <img
          src="ufac.png"
          alt="ufac"
          class="logo-ufac"
        />

  </div> -->

</section>

  <!-- ================= CARDS ================= -->
  <main class="conteudo">
    <section class="cards">

      <!-- PLANEJAMENTO -->
      <article class="card card-planejamento">

        <h2>
          Planejamento<br />
          Estratégico
        </h2>

        <img
          src="pe1.png"
          alt="Planejamento Estratégico"
          class="imagem-pe"
        />

        <button class="botao-card" routerLink="/pagina-pe">
          <span>Sobre o PE</span>
          <strong>›</strong>
        </button>

      </article>


      <!-- PDI -->
      <article class="card card-pdi" >


        <h2>
          Plano de<br />
          Desenvolvimento<br />
          Institucional
        </h2>

        <img
          src="pdi.png"
          alt="Plano de Desenvolvimento Institucional"
          class="imagem-pdi"
        />

        <button class="botao-card" routerLink="/pagina-pdi">
          <span>Sobre o PDI</span>
          <strong>›</strong>
        </button>

      </article>

    </section>

  </main>

<app-rodape></app-rodape>

