<app-header-publico></app-header-publico>

<div class="pagina">
  <main class="conteudo-principal">

    <!-- Breadcrumb -->
    <nav class="breadcrumb" aria-label="Navegação">

      <a routerLink="/pagina-inicial">
          <svg
            width="19"
            height="19"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3 10.5L12 3L21 10.5V20C21 20.55 20.55 21 20 21H15V14H9V21H4C3.45 21 3 20.55 3 20V10.5Z"
              fill="currentColor"
            />
          </svg>
      </a>

      <span>›</span>
      <span>Painel de Unidades</span>

    </nav>


    <section class="introducao">

      <h1>
        Painel de Unidades
      </h1>

      <p>
        Cada unidade possui ações que contribuem para o alcance
        dos objetivos estratégicos.
      </p>

      <p>
        Selecione uma unidade para visualizar sua contribuição com projetos, iniciativas e indicadores.
      </p>

    </section>


    <!-- =====================================================
         UNIDADES
         ===================================================== -->
    <section class="unidades">

      <!-- Linha 1 -->

      <button class="unidade">

        <strong>PROGRAD</strong>

        <span>
          Pró-Reitoria de<br />
          graduação
        </span>

      </button>


      <button class="unidade">

        <strong>PROEX</strong>

        <span>
          Pró-Reitoria de<br />
          Extensão e<br />
          Cultura
        </span>

      </button>


      <button class="unidade">

        <strong>PROPEG</strong>

        <span>
          Pró-Reitoria de<br />
          Pesquisa e Pós-<br />
          Graduação
        </span>

      </button>


      <button class="unidade">

        <strong>PROAES</strong>

        <span>
          Pró-Reitoria de<br />
          Assuntos<br />
          Estudantis
        </span>

      </button>


      <button class="unidade">

        <strong>PROINT</strong>

        <span>
          Pró-Reitoria de<br />
          Inovação e<br />
          Tecnologia
        </span>

      </button>



      <button class="unidade">

        <strong>PROPLAN</strong>

        <span>
          Pró-Reitoria de<br />
          Planejamento
        </span>

      </button>


      <button class="unidade">

        <strong>PRAD</strong>

        <span>
          Pró-Reitoria de<br />
          Administração
        </span>

      </button>


      <button class="unidade">

        <strong>PRODGEP</strong>

        <span>
          Pró-Reitoria de<br />
          Desenvolvimento<br />
          e Gestão de Pessoas
        </span>

      </button>


      <button class="unidade">

        <strong>ASCOM</strong>

        <span>
          Assessoria de<br />
          Comunicação
        </span>

      </button>


      <button class="unidade">

        <strong>ACI</strong>

        <span>
          Assessoria de<br />
          Cooperação<br />
          Interinstitucional
        </span>

      </button>

      
      <button class="unidade">

        <strong>UEPMV</strong>

        <span>
          Unidade de Ensino e Pesquisa em Medicina Veterinária
        </span>

      </button>

      <button class="unidade">

        <strong>UTAL</strong>

        <span>
          Unidade em Tecnologia de Alimentos
        </span>

      </button>

      <button class="unidade">

        <strong>NIED</strong>

        <span>
          Núcleo de Interiorização e Educação a Distância
        </span>

      </button>

      <button class="unidade">

        <strong>AC</strong>

        <span>
          Arquivo Central
        </span>

      </button>

      <button class="unidade">

        <strong>EDUFAC</strong>

        <span>
          Editora Universitária
        </span>

      </button>

      <button class="unidade">

        <strong>CAP</strong>

        <span>
          Colégio de Aplicação
        </span>

      </button>

      <button class="unidade">

        <strong>BC</strong>

        <span>
          Biblioteca Central
        </span>

      </button>

      <button class="unidade">

        <strong>PZ</strong>

        <span>
          Parque Zoobotânico
        </span>

      </button>

      <button class="unidade">

        <strong>PREFCAM</strong>

        <span>
          Prefeitura do Campus
        </span>

      </button>

    </section>

  </main>


  <app-rodape></app-rodape>

</div>